.DigitalArt {
  height: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  background-color: #1c1c1c;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: 'Larke Neue Regular', sans-serif;
  position: relative;
}