.Portfolio{
  background-color: black;


}
.PortfolioWrapper{
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}
.PortfolioWrapper{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.PortfolioWrapper::-webkit-scrollbar{
  display: none;
}